<div class="contenedor-action">
  <div class="total-actions">Total: {{deseos.length}}</div>
  <div *ngFor="let deseo of deseos" class="card-action">
    <div class="title-action">
      {{ deseo.title }}
    </div>
    <div class="detail-action">
      {{ deseo.detail }}
    </div>
    <div class="date-action">{{ deseo.date | date }}</div>
    <div class="delete-action">
      <button mat-icon-button (click)="deleteAction(deseo._id || '')">
        <mat-icon class="icon-small-action">delete</mat-icon>
      </button>
    </div>
    <div class="cinta"></div>
  </div>
</div>
