<div class="contenedor-action">
  <div class="total-actions">Total: {{preocupaciones.length}}</div>
  <div *ngFor="let preocupacion of preocupaciones" class="card-action">
    <div class="title-action">
      {{ preocupacion.title }}
    </div>
    <div class="detail-action">
      {{ preocupacion.detail }}
    </div>
    <div class="date-action">{{ preocupacion.date | date }}</div>
    
    <div class="delete-action">
      <button mat-icon-button (click)="deleteAction(preocupacion._id || '')">
        <mat-icon class="icon-small-action">delete</mat-icon>
      </button>
    </div>
    <div class="cinta"></div>
  </div>
</div>
