<div
  class="contenedor card animate__animated animate__fadeIn"
  *ngIf="joven._id !== ''"
  [ngClass]="{
    'fondo-hombre': joven.gender === 'M',
    'fondo-mujer': joven.gender === 'F'
  }"
>
  <div class="contenedor-foto">
    <img class="foto" [src]="urlBaseImg" alt="" />
  </div>
  <div>
    <div class="nombre">{{ joven.name }}</div>
    <div class="apellidos">{{ joven.lastName }}</div>
    <div [ngClass]="{ parpadea: alert }" class="ultima-ministracion">
      Última ministración:
      <em style="color: #a8b6ff"
        >{{ (joven.lastMinistration | date) || "No registra" }}
        <span *ngIf="diasDesdeLaUltimaMinistracion > 0"
          >[ {{ diasDesdeLaUltimaMinistracion }}
          {{ diasDesdeLaUltimaMinistracion > 1 ? "días" : "día " }} ]</span
        ></em
      >
    </div>
    <div class="contenedor-telefono">
      <span>{{ joven.phone }}</span>
      <a
        target="_blank"
        href="https://wa.me/57{{ joven.phone }}?text=Hola {{
          joven.name | titlecase
        }}!"
      >
        <img class="icon-w" src="./assets/w.png" alt=""
      /></a>
    </div>
  </div>
  <div class="edad">{{ joven.dob | age }} años</div>
  <div class="agregar-action">
    <button mat-icon-button (click)="abrirModalNuevoRegistro(joven)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="agregar-foto">
    <button mat-icon-button (click)="abrirModalSubirFoto(joven)">
      <mat-icon>add_a_photo</mat-icon>
    </button>
  </div>
</div>
