.contenedor {
  position: relative;
  padding-bottom: 5px;
}

.fondo-hombre {
  background-color: #3f51b5;
}

.fondo-mujer {
  background-color: #b53fab;
}

.foto {
  height: 100px;
  width: 100px;
  margin: auto;
  margin: auto;
  border-radius: 100%;
  border: solid 5px #3f58e1;
  object-fit: cover;
}

.contenedor-foto {
  display: flex;
  padding: 10px;
}

.nombre {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: white;
}

.apellidos {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: rgb(255, 255, 255);
}

.edad {
  text-align: center;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 12px;
  background-color: #5971f3;
  border-radius: 4px;
  padding: 1px 7px;
  color: white;
}
.agregar-action {
  text-align: center;
  position: absolute;
  top: 55px;
  right: 15px;
  font-size: 12px;
  background-color: #5971f3;
  border-radius: 4px;
  // padding: 1px 7px;
  color: white;
}
.agregar-foto {
  text-align: center;
  position: absolute;
  top: 98px;
  right: 14px;
  background-color: #b53fab00;
  color: #ffc716;
}

.contenedor-telefono {
  display: flex;
  justify-content: center;
  color: turquoise;
}

.icon-w {
  height: 16px;
  width: 16px;
}

.ultima-ministracion {
  font-size: 11px;
  color: chartreuse;
  position: absolute;
  top: -18px;
  left: 16px;
}

.parpadea {
  color: #ffa900 !important;
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
