<mat-card
  class="card animate__animated animate__fadeIn"
  [ngClass]="{ hombre: joven.gender === 'M', mujer: joven.gender === 'F' }"
>
  <mat-card-header>
    <!-- <img mat-card-avatar src="joven.photo || ./assets/user.png" /> -->
    <img class="animate__animated animate__fadeIn" mat-card-avatar [src]="urlBaseImg" />
    <mat-card-title>{{ joven.name }}</mat-card-title>
    <mat-card-subtitle>{{ joven.lastName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row panel">
      <div class="item col s6">
        <span
          [matBadge]="joven.talents"
          matBadgeSize="small"
          matBadgeOverlap="false"
          >Talentos</span
        >
      </div>
      <div class="item col s6">
        <span
          [matBadge]="joven.wishes"
          matBadgeSize="small"
          matBadgeOverlap="false"
          >Deseos</span
        >
      </div>
      <div class="item col s6">
        <span
          matBadgeColor="warn"
          [matBadge]="joven.concerns"
          matBadgeSize="small"
          matBadgeOverlap="false"
          >Preocupaciones</span
        >
      </div>
      <div class="item col s6">
        <span
          [matBadge]="joven.ministrations"
          matBadgeSize="small"
          matBadgeOverlap="false"
          >Ministraciones</span
        >
      </div>
    </div>
    <div class="ultima-ministracion">Celular: {{ joven.phone }}</div>
    <div class="ultima-ministracion">
      Última ministración:
      <em style="color: gray">{{
        (joven.lastMinistration | date) || "No registra"
      }}</em>
    </div>
    <div class="edad">{{ joven.dob | age }} años</div>
    <div class="btn-action">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon color="primary">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="abrirPageJoven(joven._id)" mat-menu-item>
          <mat-icon color="primary">visibility</mat-icon>
          <span>Mostrar Joven</span>
        </button>
        <button (click)="abrirDialogNuevoRegistro(joven)" mat-menu-item>
          <mat-icon color="primary">notes</mat-icon>
          <span>Registrar acción</span>
        </button>
         <button (click)="abrirDialogSubirFoto(joven)" mat-menu-item>
          <mat-icon color="primary">account_box</mat-icon>
          <span>Subir foto</span>
        </button>
        <button (click)="eliminarJoven(joven._id)" mat-menu-item>
          <mat-icon color="warn">delete_forever</mat-icon>
          <span style="color:red">Eliminar Joven</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-content>
</mat-card>
