<app-menu></app-menu>
<app-datos-personales [joven]="joven"></app-datos-personales>
<mat-stepper orientation="vertical">
  <mat-step>
    <ng-template matStepLabel
      >Ministraciones [{{ joven.ministrations }}]</ng-template
    >
    <ng-template matStepContent>
      <app-ministraciones
        [ministraciones]="ministraciones"
      ></app-ministraciones>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Talentos [{{ joven.talents }}]</ng-template>
    <ng-template matStepContent>
      <app-talentos [talentos]="talentos"></app-talentos>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Deseos [{{ joven.wishes }}]</ng-template>
    <ng-template matStepContent>
      <app-deseos [deseos]="deseos"></app-deseos>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel
      >Preocupaciones [{{ joven.concerns }}]</ng-template
    >
    <ng-template matStepContent>
      <app-preocupaciones
        [preocupaciones]="preocupaciones"
      ></app-preocupaciones>
    </ng-template>
  </mat-step>
</mat-stepper>

<!-- <pre>{{ joven | json }}</pre> -->
<!-- <pre>{{ ministraciones | json }}</pre> -->
<!-- <pre>{{ preocupaciones | json }}</pre> -->
<!-- <pre>{{ deseos | json }}</pre> -->
<!-- <pre>{{ talentos | json }}</pre> -->
