<mat-toolbar class="card animate__animated animate__fadeIn" color="primary">
  <span>Gestion del Obispo</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu color="primary" #menu="matMenu">
    <button routerLink="/home" navi mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button (click)="abrirModalNuevoJoven()" mat-menu-item>
      <mat-icon>person_add</mat-icon>
      <span>Agregar Joven</span>
    </button>
    <button (click)="salir()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Salir</span>
    </button>
  </mat-menu>
</mat-toolbar>
